@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&display=swap");
/*
$color-primary-0: #1ABC9C;
$color-primary-1: #66D8C1;
$color-primary-2: #3CC8AC;
$color-primary-3: #00AA89;
$color-primary-4: #007E65;
*/
:root {
  font-size: 16px;
}

html, body {
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
  background-color: #FAFAFA;
  color: #444;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

main {
  margin: 0 auto;
  width: 60%;
  padding: 2rem;
  max-width: 1000px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.5rem;
}

.small {
  font-size: 0.8rem;
  opacity: 0.5;
}

.flex-row, .question-resume, .topbar-searchbar, .topbar {
  display: flex;
  flex-direction: row;
}

.flex-row .reverse, .question-resume .reverse, .topbar-searchbar .reverse, .topbar .reverse {
  flex-direction: row-reverse;
}

.flex-column, body, .fullscreen {
  display: flex;
  flex-direction: column;
}

.flex-column .reverse, body .reverse, .fullscreen .reverse {
  flex-direction: column-reverse;
}

.flex-row .flex-filler, .question-resume .flex-filler, .topbar-searchbar .flex-filler, .topbar .flex-filler, .flex-row main, .question-resume main, .topbar-searchbar main, .topbar main {
  flex: 1 0 0;
}

.flex-column .flex-filler, body .flex-filler, .fullscreen .flex-filler, .flex-column main, body main, .fullscreen main {
  flex: 0 1 0;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center, .fullscreen {
  justify-content: center;
}

.align-end {
  align-items: flex-end;
}

.align-center, .question-resume, .topbar, .fullscreen {
  align-items: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between, .question-resume, .topbar {
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.card, .fullscreen main {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 5px 15px rgba(125, 153, 227, 0.3);
  padding: 1rem;
  margin: 1rem 0;
}

.topbar {
  padding: 1rem;
}

.topbar * {
  margin: 0;
}

.topbar-title {
  background-color: #4A69BD;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.topbar-searchbar {
  width: 50%;
}

.topbar-input {
  width: 100%;
  margin: auto 0.5rem;
  height: max-content;
}

.topbar a {
  margin: 0 0.5rem;
}

input, textarea {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  box-shadow: none;
  transition: box-shadow 200ms ease;
  padding: 0.5rem;
  border: #CCC solid 1px;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

input:focus, textarea:focus, .button:hover {
  box-shadow: 0px 5px 15px rgba(125, 153, 227, 0.3);
}

.button {
  padding: 0.5rem 1rem;
  background-color: #4A69BD;
  text-decoration: none;
  color: white !important;
  border-radius: 2rem;
  transition: box-shadow 200ms ease;
  cursor: pointer;
}

textarea {
  height: 10vh;
}

.question-resume {
  font-size: 0.75rem;
}

.icon {
  width: 32px;
  vertical-align: middle;
  filter: invert(100%);
}

.icon-container {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: #4A69BD;
  box-shadow: none;
  transition: box-shadow 200ms ease;
  cursor: pointer;
}

.icon-container:hover {
  box-shadow: 0px 5px 15px rgba(125, 153, 227, 0.3);
}

a, a:visited, .primary {
  color: #4A69BD;
}

.comment-response {
  border-left: 2px #4A69BD solid;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  margin-top: 1rem;
}

.comment-response h2 {
  margin: 0;
}
