input, textarea
{
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  box-shadow: none;
  transition: box-shadow 200ms ease;
  padding: 0.5rem;
  border: #CCC solid 1px;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

input:focus, textarea:focus, .button:hover
{
  box-shadow: $box-shadow;
}

.button
{
  padding: 0.5rem 1rem;
  background-color: $color-primary-0;
  text-decoration: none;
  color: white !important;
  border-radius: 2rem;
  transition: box-shadow 200ms ease;
  cursor: pointer;
}

textarea
{
  height: 10vh;
}