@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&display=swap');
/*
$color-primary-0: #1ABC9C;
$color-primary-1: #66D8C1;
$color-primary-2: #3CC8AC;
$color-primary-3: #00AA89;
$color-primary-4: #007E65;
*/

$color-primary-0: #4A69BD;	// Main Primary color */
$color-primary-1: #9AAFE6;
$color-primary-2: #6C87D1;
$color-primary-3: #2E4FAB;
$color-primary-4: #153791;

$light-gray: #FAFAFA;
$dark-gray: #444;

$box-shadow : 0px 5px 15px rgba(125,153,227,0.3);